<div class="card">
    <div class="card-header fw-semibold" style="background-color: #fb9a333b;">
        Description
    </div>
    <div class="card-body markdown-body">
        {{ issue.description|markdown_to_html }}
    </div>
</div>