{% extends '/issue/card.nav.html.twig' %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="col col-md-6">
            <div class="w-100">
                {% include '/issue/form.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}