container_commands:
    02:
        command: "sudo amazon-linux-extras install epel -y"
    03:
        command: "sudo yum -y install libuv --disableplugin=priorities"
    04:
        command: "sudo yum -y install nodejs npm --enablerepo=epel"
    05:
        command: "sudo npm install"
    06:
        command: "sudo npm run build"