container_commands:
    02:
        command: "sudo amazon-linux-extras install epel -y"
    03:
        command: "sudo yum -y install libuv --disableplugin=priorities"
    04:
        command: "sudo yum -y install nodejs npm --enablerepo=epel"
option_settings:
    - namespace: aws:elasticbeanstalk:command
      option_name: Timeout
      value: 2400