{% extends '/project/card.nav.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-md-9 col-12 mb-2 order-3">
                <div class="card">
                    <div class="card-header fw-semibold" style="background-color: #fb9a333b;">
                        Description
                    </div>
                    <div class="card-body markdown-body">
                        {{ project.description|markdown_to_html }}
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-12">
                <div class="card mb-2">
                    <div class="card-header fw-semibold" style="background-color: #fb9a333b;">
                        Created by
                    </div>
                    <div class="card-body">
                        {{ project.createdBy.username }}
                    </div>
                </div>
                <div class="card mb-2">
                    <div class="card-header fw-semibold" style="background-color: #fb9a333b;">
                        Created at
                    </div>
                    <div class="card-body">
                        {{ project.createdAt|date }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-9 col-12 mb-2 ms-auto">
                <div class="card">
                    <div class="card-header fw-semibold" style="background-color: #fb9a333b;">
                        Members
                    </div>
                    <div class="card-body markdown-body">
                        {% if project.members|length == 0 %}
                            <h5 class="text-muted text-center">None</h5>
                        {% endif %}
                        <ul class="list-group">
                            {% for user in project.members %}
                                <li class="list-group-item">{{ user.username }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}